*{
  margin: 0;
  padding: 0;
}
  
body .wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #121212;
}
  
#size{
  height: 0px;
}
  
  
.inner{
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 26%, rgba(125, 185, 232, 0) 100%), url(https://rcc-sport.ru/local/templates/main/img/bg-red.png) top right, #121212;
}
  
.content-registration{
  display: flex;
  justify-content: center;
  padding: 180px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
  
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 350px;
  padding: 50px 80px;
  border-radius: 5px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}
  
.title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #EE0007;
}
    
.title::before {
  width: 18px;
  height: 18px;
}
  
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
  
.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #EE0007;
}
  
.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}
  
.signin {
  text-align: center;
}
  
  
  
.signin a {
  color: #EE0007;
}
  
.flex {
  display: flex;
  width: 100%;
  gap: 10px;
}
   
form label {
  position: relative;
}
    
form label input {
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 15px 0px 15px 0px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}
    
form label input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
    
form label input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
    
form label input:focus + span,
form label input:valid + span {
  color: #ffffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
    
input {
  font-size: medium;
}
    
.submit {
  border: none;
  outline: none;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #EE0007;
  text-align: center;
}
  
a:hover{
  color: #e3070e;
}
    
.submit:hover {
  background-color: #c4080e;
}
    
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
    }
    
  to {
    transform: scale(1.8);
    opacity: 0;
    }
}